
{% extends 'school/medium_base.html' %}
{% load static %}
{% comment %}
<div id=jsTest></div>

<script>
document.getElementById("jsTest").innerHTML = "Hello JS";
</script>
{% endcomment %}

{% block content %}
{% comment %}
<h3>Sessions</h3>
{% if session_list %}
    <ul>
    {% for session in session_list %}
        <li><a href="{% url 'session_view' session.id %}">{{ session.day }}</a></li>
    {% endfor %}
{% else %}
    <p>No Sessions are available.</p>
{% endif %} 
{% endcomment %}

<div class="container1">
  <ul id=tabs class="nav nav-tabs">
{% comment %}
    <li><a data-toggle="tab" href="#home">Home</a></li>
{% endcomment %}
    <li><a data-toggle="tab" href="#courses">Courses</a></li>
    <li><a data-toggle="tab" href="#students">Students</a></li>
    <li><a data-toggle="tab" href="#teachers">Teachers</a></li>
    <li><a data-toggle="tab" href="#staff">Staff</a></li>
  </ul>
{% comment %}
  <div class="tab-content">
    <div id="home" class="tab-pane fade">
      <img src="{% static "school/graduation.jpg" %}" alt="Graduation"/>
    </div>
  </div>
{% endcomment %}
  <div class="tab-content">
    <div id="courses" class="tab-pane fade">
      {% if request.user.profile.teacher %}
        <h3>Your Courses</h3>
        <ul>
        {% for course in request.user.profile.teacher.course_set.all %}
          <li><a href="{% url 'course_view' course.id %}">{{ course.course_title }}</a></li> 
        {% endfor %}
        </ul>
      {% endif%} 
      {% if request.user.profile.student %}
        <h3>Your Courses</h3>
        <ul>
        {% for course in request.user.profile.student.course_set.all %}
          <li><a href="{% url 'course_view' course.id %}">{{ course.course_title }}</a></li> 
        {% endfor %}
        </ul>
      {% endif%} 
      <h3>All Courses</h3>
      {% if course_list %}
        <ul>
        {% for course in course_list %}
          <li><a href="{% url 'course_view' course.id %}">{{ course.course_title }}</a></li>
        {% endfor %}
        </ul>
      {% else %}
        <p>No courses are available.</p>
      {% endif %}
      {% if request.user.profile.staff.id %}
        <a href="{% url 'course_create' request.user.profile.staff.id %}">Create Course</a>
      {% endif %}
    </div>

    <div id="students" class="tab-pane fade"> 
      <h3>Students</h3>
      {% if student_list %}
        <ul>
        {% for student in student_list %}
          <li><a href="{% url 'student_view' student.id %}">{{ student.english_name }}</a></li>
        {% endfor %}
        </ul>
{% comment %}
        {% if perms.school.can_add_students %}
          <a href="{% url 'student_create' %}">Add Student</a>
        {% endif %}
{% endcomment %}
      {% else %}
        <p>No students are available.</p>
      {% endif %}
      {% if request.user.profile.staff.id %}
        <a href="{% url 'user_create_student' request.user.profile.staff.id %}">Create Student</a>
      {% endif %}
    </div>

    <div id="teachers" class="tab-pane fade">
      <h3>Teachers</h3>
      {% if teacher_list %}
      <ul>
        {% for teacher in teacher_list %}
        <li><a href="{% url 'teacher_view' teacher.id %}">{{ teacher.english_name }}</a></li>
        {% endfor %}
      </ul>
      {% else %}
        <p>No teachers are available.</p>
      {% endif %}
      {% if request.user.profile.staff.id %}
        <a href="{% url 'user_create_teacher' request.user.profile.staff.id %}">Create Teacher</a>
      {% endif %}
    </div>

    <div id="staff" class="tab-pane fade">
      <h3>Staff</h3>
      {% if staff_list %}
      <ul>
        {% for staff in staff_list %}
        <li><a href="{% url 'staff_view' staff.id %}">{{ staff.english_name }}</a></li>
        {% endfor %}
      </ul>
      {% else %}
        <p>No staff members are available.</p>
      {% endif %}
    </div>
  </div>
</div>


{% endblock %}
